body{
    background-color: #add8e6;
}

#paragraph2{
    border: 4px solid green;
    width: 800px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    line-height: 1.5;
}


.blue{
    background-color: #000080;
    color: white;
    padding: 20px 20px 20px 20px;
    border-width: 1px;
    border-style: none
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
h3{
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    background-color: white;
}

th {
    background-color: #d3d3d3;
    text-align: center;
    padding: 5px;
}

#link{
    color: #96576e;
}

li{
    list-style-type: decimal-leading-zero;
}
ol{
    padding-left: 26px;
}
